:root {
    --main-dark-color: #000;
    --accent-color: #BB945F;
    --secondary-dark-color: #0C0C0E;
    --light-color: #FFFFFF;
    --inactive-color: #8E8E8E;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Inter, serif;
    font-size: 20px;
}

.content {
    max-width: 1440px;
    margin: 0 auto;
}

.section-paddings {
    padding: 20px 20px 40px;
    box-sizing: border-box;
}

h1 {
    color: var(--light-color);

    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;

    display: inline;
    margin: 0;
    z-index: 5;
}

h2 {
    color: var(--secondary-dark-color);

    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 100% */
    letter-spacing: 2px;
    text-transform: capitalize;
    font-family: Forum, serif;
    text-align: center;

    position: relative;
    margin-bottom: 61px;
    margin-top: 0;
}

h2::after {
    content: '';
    position: absolute;
    background: var(--secondary-dark-color);

    left: 0;
    right: 0;
    margin: auto;
    bottom: -20px;
    width: 50px;
    height: 1px;
}

h3 {
    color: var(--main-dark-color);

    font-family: Forum, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;

    margin: 0;
    margin-bottom: 20px;
    position: relative; 
}

h3::after {
    content: '';
    position: absolute;
    background: var(--accent-color);

    left: 0;
    bottom: 0px;
    width: 60px;
    height: 1px;
}

h4 {
    color: var(--main-dark-color);

    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 266.667% */
    letter-spacing: 2px;
    text-transform: capitalize;
}

.text {
    color: var(--main-dark-color);

    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;

    margin: 0;
}

.text_narrow {
    letter-spacing: 0;
}

.text_bold {
    font-weight: 700;
}

.text_accent-color {
    color: var(--accent-color);
}

.text_uppercase {
    text-transform: uppercase;
}

.button {
    width: 75px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 2px;
    border: 1px solid var(--secondary-dark-color);
    background: var(--light-color);
    transition: all .5s;
}

.button::after {
    content: "";
    position: absolute;
    top:-5px;
    right:-5px;
    left:-5px;
    bottom:-5px;
}

.button:not([disabled]):hover {
    background: var(--accent-color);
    border: 1px solid var(--accent-color);
    cursor: pointer;
}

.button__title {
    color: var(--secondary-dark-color);
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
}

.button_active {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
}

.hidden {
    display: none;
}