:root {
    --main-dark-color: #000;
    --accent-color: #BB945F;
    --secondary-dark-color: #0C0C0E;
    --light-color: #FFFFFF;
    --inactive-color: #8E8E8E;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Inter, serif;
    font-size: 20px;
}

h1 {
    color: var(--light-color);
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
    display: inline;
    margin: 0;
    z-index: 5;
}

.content {
    max-width: 1440px;
    margin: 0 auto;
}
