.welcome {
  position: relative;
  width: 100%;
  height: 600px;
  z-index: -1;
  
  background: url('../assets/img/welcome_background.jpeg') center / cover no-repeat, lightgray 50% / cover no-repeat;
}

.title-container {
  position: absolute;
  left: 0;
  top: 220px;
  
  display: flex;
  width: 600px;
  height: 220px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  
  padding: 35px 40px;
  box-sizing: border-box;
  
  background: var(--secondary-dark-color);
}

.welcome__title {
  color: var(--light-color);
  
  flex-shrink: 0;
  width: 520px;
  margin: 0;
  
  text-align: center;
  line-height: 50px; /* 125% */
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  font-family: Forum, serif; 
}

.gradient {
  width: 100%;
  height: 300px;
  flex-shrink: 0;
  
  background: linear-gradient(180deg, var(--secondary-dark-color) 0%, var(--secondary-dark-color) 0.01%, rgba(18, 18, 21, 0.10) 100%);
}
